* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
  font-family: 'Alike';
  
  color: #d9d9d9;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto';
  line-height: 1.313em;
}
h1 {
  font-size: 3em;
  margin: 0.563em 0;
}
h2 {
  font-size: 2.25em;
  margin: 0.625em 0;
}
h3 {
  font-size: 1.5em;
  margin: 1.313em 0;
}
h4 {
  font-size: 1.313em;
  margin: 1.313em 0;
}
h5 {
  font-size: 1.125em;
  margin: 1.313em 0;
}
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}

.main-heading{
  background-color: white;
  color: black;
}
.content {
  font-size: 1.875rem;
  color: white;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 0 50%;
}

.illustration_01 {
  background-color: #34495e;
  background-image: url("img/roger1.jpg");
}
.left {
  padding: 1.618em 50% 3.236em 6.472em;
  background-position: 100% 50%;
}
.illustration_02 {
  background-color: #f1c40f;
  background-image: url("img/roger2.jpg");
